/* Postavlja font na ceo body. */
body {
  font-family: 'Roboto', sans-serif;
}

/* Postavljanje crne boje na navbar linkove. */
.nav-link {
  color: black !important;
  font-size: 17px;
}

/* Iscrtava liniju ispod trenutne stranice. */
.active {
  border-bottom: 1px solid black;
}

/* Pomera logo. */
.navbar-brand {
  padding-top: 10px;
  padding-bottom: 0px;
}

/* Postavlja padding celom containeru zbog izgleda. */
.container {
  padding: 30px;
}

/* Menja font u tabeli. */
td, th {
  font-size: 14px !important;
}

/* Menja cursor za tabelu , #add_patient_button i za #add_doctor_button. */
tr, #add_patient_button, #add_doctor_button {
  cursor: pointer;
}

/* Stajling za badge-eve. */
.badge {
  padding: 5px;
  cursor: pointer;
}

/* Postavlja cursor na default za ID results. */
#results {
  cursor: default;
}

/* Postavlja boju texta na sivu za <small> elemente. */
small {
  color: gray;
}

/* Postavlja kurzor za dugmadi. */
#patient_dialog_button, #doctor_dialog_button {
  cursor: pointer;
}
